{% from "macros/navbar.html" import navbar with context %}
{{ navbar() }}
{% extends '_layout.html' %} {% block title %} Edit Profile &#8226; {% endblock
%} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center h-100">
    <div class="col-3 card p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action border-0"
          style="border-left: 2px solid black!important;"
        >
          Edit Profile
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action border-0"
        >
          Change Password
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action border-0"
        >
          Authorized Applications
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action border-0"
        >
          Email and SMS
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action border-0"
        >
          Manage Contacts
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action border-0"
        >
          Privacy and Security
        </button>
      </div>
    </div>
    <div class="col-7 card">
      <div class="row justify-content-center mt-4">
        <div class="col-10">
          <div class="row">
            <div class="col-sm-8">
              <div class="row justify-content-center">
                <div class="col-2">
                  <img
                    src="{{ user.profile_url }}"
                    alt="profile"
                    width="40"
                    height="40"
                    class="border rounded-circle"
                  />
                </div>
                <div class="col-8">
                  <div id="small-line-height">
                    <h5>{{ user.username }}</h5>
                    <!-- Button trigger modal -->
                    <a
                      data-toggle="modal"
                      class="text-primary"
                      data-target="#exampleModalCenter"
                    >
                      <small>Change Profile Photo</small>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form
        action="{{url_for('users.update', id=user.id)}}"
        method="POST"
        class="mt-4"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group row justify-content-center">
          <label for="full_name" class="col-sm-2 col-form-label text-right"
            >Name</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control form-control-sm"
              name="full_name"
              value="{{ user.full_name }}"
            />
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="username" class="col-sm-2 col-form-label text-right"
            >Username</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control form-control-sm"
              name="username"
              value="{{ user.username }}"
            />
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="website" class="col-sm-2 col-form-label text-right"
            >Website</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control form-control-sm"
              name="website"
              value="{{ user.website }}"
            />
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="bio" class="col-sm-2 col-form-label text-right"
            >Bio</label
          >
          <div class="col-sm-8">
            <textarea class="form-control form-control-sm" name="bio">{{
              user.bio
            }}</textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <h6 class="text-muted">Private Information</h6>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="email" class="col-sm-2 col-form-label text-right"
            >Email</label
          >
          <div class="col-sm-8">
            <input
              type="email"
              class="form-control form-control-sm"
              name="email"
              value="{{ user.email }}"
            />
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="phone_number" class="col-sm-2 col-form-label text-right"
            >Phone Number</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control form-control-sm"
              name="phone_number"
              value="{{ user.phone_number }}"
            />
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="inputPassword" class="col-sm-2 col-form-label text-right"
            >Gender</label
          >
          <div class="col-sm-8">
            <small>Male</small>
          </div>
        </div>
        <div class="d-flex flex-row w-75 mx-auto d-block mt-4">
          <button class="btn btn-primary btn-sm">Submit</button>
          <a class="my-auto ml-5" href="#">Temporarily Disable My Account</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal border-0 fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-transparent">
      <div class="modal-header">
        <h5 class="modal-title mx-auto">Change Profile Photo</h5>
      </div>
      <div class="modal-body p-0">
        <div class="list-group w-100 border-0">
          <a
            id="trigger-file"
            href=""
            class="list-group-item list-group-item-action text-center text-primary"
          >
            Upload New Photo
          </a>
          <form
            action="{{ url_for('images.create_profile') }}"
            method="POST"
            class="d-none"
            enctype="multipart/form-data"
          >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input
              id="image-file"
              name="image_file"
              type="file"
              onchange="form.submit()"
            />
          </form>
          <a
            href="#"
            class="list-group-item list-group-item-action text-center text-danger"
            >Remove Current Photo<input type="file" class="d-none"
          /></a>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link text-dark mx-auto d-block"
          data-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  $("#trigger-file").click(e => {
    e.preventDefault();
    $("#image-file").trigger("click");
  });
</script>
{% endblock %}
