{% extends "_layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block content %}

{% for image in images %}
<div>
    <div>
        <h3>
            {{image.user.username}}
        </h3>
        <img width="300px" src="{{image.source}}" alt="">
        <div>
            {{image.caption}}
        </div>
    </div>
    <a href="{{url_for('donations.new', image_id=image.id)}}">dono</a>
</div>
<hr>
{% endfor %}

<!-- {% for user in users %}
<div>
    <a href="{{url_for('users.show', username = user.username)}}">
        {{user.username}}
    </a>
    <img width='200px' src="{{user.image}}" alt="profilepic">
</div>
{% endfor %} -->
{% endblock %}