{%extends "_layout.html"%}
{%block content%}
{% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}



<div>
  <p>Profile picture:</p>
  <img src="http://nextagramtao.s3.amazonaws.com/{{user.profile_picture}}" style="width: 250px">
  
</div>



<div class="mt-5">
  <p>Posts:</p>
  {%for image in user.images%}
  <div class="d-inline-block">
        <img src="http://nextagramtao.s3.amazonaws.com/{{image.image_url}}" style="width: 250px ; height: 200px;" class="mt-2">
        <form action="{{ url_for('users.client_token') }}" method="GET" >
          <input type='hidden' name="csrf_token" value="{{ csrf_token()}}"/>
          <input type='hidden' name="image_id" value="{{image.id}}"/>
          <button type="submit" class="btn btn-primary">DONATE</button>
        </form>
  </div>
 
  {%endfor%}
</div>

<br>

<form action="{{ url_for('users.show',name=current_user.name)}}" method="GET" >
    <input type='hidden' name="csrf_token" value="{{ csrf_token()}}"/>
    <button type="submit" class="btn btn-primary"> Back to My Profile</button>
</form>





{%endblock%}