{% extends "_layout.html" %}

{% block title %}
  {{user.name}}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column align-items-center" style="width: 25%;">
        {% if user.profile_photo %}
            <img src="{{S3_LOCATION+user.profile_photo}}" alt="{{user.profile_photo}}" 
            style=
            "height: 200px;
            border-radius: 15px;
            min-width: 150px;"
            >
        {% else %}
            <img src="https://img.icons8.com/plasticine/100/000000/name.png" alt="placeholder-cat-profile" 
            style=
            "height: 200px;
            border-radius: 15px;"
            >
        {% endif %}
            <h4>{{user.name}}</h4>
        </div>

        <div style="width: 75%;">
            <h4>{{user.name}}'s photos</h4>
            {% if user.name == current_user.name %}
            <a href="{{url_for('images.upload')}}">Upload photos</a>
            {% endif %}
            <div class="d-flex flex-wrap" ">
            {% if not image_list %}
            <h4>No images uploaded yet :(</h4>
            {% endif %}
            {% if image_list|length >0 %}
                {% for image in image_list %}
                    {% if image.user_id == user.id %}
                    <div class="card">
                        <img src="{{S3_LOCATION+image.url}}" class="m-3" alt="{{image.url}}" style="width: 18rem; max-height: 12rem;">
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
