{% extends "_layout.html" %}

{% block title %}
Profile Page
{% endblock %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class='col-lg-4'>
            <div class="d-flex flex-column align-items-center">
                <h2>
                    {{username}}'s Profile Page
                </h2>
                <img width='200px' src={{user.image}}>
            </div>
        </div>
        <div class="col-lg-4 justify-content-center d-flex align-items-center">
            <div class='follows'>
                {% if username == current_user.username %}
                <a href="{{url_for('follows.show_fans', id = current_user.id)}}">Followers:</a>
                {{ user.fans|length }}
                <br>
                <a href="{{url_for('follows.show_idols', id = current_user.id)}}">Following:</a> {{ user.idols|length }}
                {% else %}
                Followers: {{ user.fans|length }}
                <br>
                Following: {{ user.idols|length }}
                {% endif %}

            </div>
        </div>
        <div class='col-lg-4 align-items-center d-flex justify-content-center'>
            {% if (username != current_user.username) and (current_user.is_authenticated) %}
            {% if user.is_followed %}
            <a class='follow-btn' href="{{url_for('follows.delete', id=user.id)}}">Unfollow</a>
            {% else %}
            <a class='follow-btn' href="{{url_for('follows.create', id=user.id)}}">Follow</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<br>

{% if current_user.username==username %}
<!-- <form action="{{url_for('images.create', id= current_user.id)}}" method="POST"
    enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="user_file">Upload Your File</label>
    <br></br>
    <input type="file" id='imageUpload' name="user_file">
    Caption:
    <input type="text" name='caption'>
    <br></br>
    <button type="submit">Upload</button>
</form> -->
{% endif %}
<br>
<section>
    <h4 id='gallery-title'>
        Gallery &nbsp; <a href="{{url_for('images.new', id=current_user.id)}}"><i class="fas fa-plus-circle"></i></a>


    </h4>
    <hr>
    {% for image in image_list%}
    <img id='{{image.id}}' class='pictures' src={{image.source}} width='200px'>
    <div class="modal fade" id="picModal{{image.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <img width='300px' src="{{image.source}}" alt="">
                    <div class='caption'>
                        {{image.caption}}
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <a class='dollar-box d-flex justify-content-center align-items-center'
                        href="{{url_for('donations.new', image_id=image.id)}}">
                        <i class="fas fa-dollar-sign"></i>
                    </a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Das enough</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>



<script>
    $(document).ready(() => {
        $('.pictures').click((e) => {
            id = e.target.id
            $(`#picModal${id}`).modal('toggle')
        })
    })
</script>
{% endblock %}