{% extends "_layout.html" %}

{% block title %}
Profile Page
{% endblock %}


{% block content %}
<div class="container">
    <div class='row'>
        <div class='col-lg-6'>
            <div class="d-flex flex-column align-items-center">
                <h2>
                    {{username}}'s Profile Page
                </h2>
                <img width='200px' src={{user.image}}>
            </div>
        </div>
        <div class="col-lg-6 justify-content-center d-flex align-items-center">
            edit shit here
        </div>
    </div>

</div>


{% if current_user.username==username %}
<form action="{{url_for('images.create', username= current_user.username)}}" method="POST"
    enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="user_file">Upload Your File</label>
    <br></br>
    <input type="file" name="user_file">
    <br></br>
    <button type="submit">Upload</button>
</form>
{% endif %}
<br>
<section>
    Gallery
</section>
{% for image in image_list%}
<img src={{image.source}} width='200px'>
{% endfor %}
{% endblock %}