{% extends "_layout.html" %}

{% block title %}
  View all users
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    {% for user in users %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{S3_LOCATION+user.profile_photo}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    {% endfor %}

{% endblock %}