{% extends "_layout.html" %}

{% block title %}
  View all users
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="d-flex flex-wrap justify-content-around mx-auto" style="width:80%">
    {% for user in users %}
    <div class="card " style="width: 18rem;">
        {% if user.profile_photo %}
        <img class="card-img-top" src="{{ user.full_profile_photo }}" alt="{{user.full_profile_photo}}">
        {% else %}        
        <img class="card-img-top" src="https://img.icons8.com/plasticine/100/000000/name.png" alt="placeholder-cat-profile">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <a href="{{url_for('users.show',username=user.name)}}" class="btn btn-primary">Visit profile page</a>
        </div>
      </div>

    {% endfor %}
</div>
{% endblock %}