{% macro navbar() %}
<!-- Put your modal here -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">
    <i class="fab fa-instagram"></i>
    Nextagram
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          href="{{url_for('users.user_profile' ,id=current_user.id )}}"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('users.show')}}">News Feed</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item"></li>
    </ul>
    <button
      type="button"
      class="btn btn-outline-light d-flex flex-row-reverse justify-content-center mr-2"
      data-toggle="modal"
      data-target="#uploadPost"
    >
      Post
    </button>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="mr-2 btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    {%if current_user.is_authenticated %}
    <form action="{{url_for('sessions.logout')}}" method="post">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
      <button class="btn btn-danger" type="button, submit">
        Log Out
      </button>
    </form>

    {%else%}

    <button
      type="button"
      class="btn btn-primary  "
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
      Log In
    </button>

    {%endif%}
  </div>
</nav>

{% endmacro %}
