{% macro post() %}



<div class="modal fade" id="uploadPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Upload Post
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{url_for('imgs.create', id=current_user.id)}}" enctype="multipart/form-data">
          <div class="form-group">


            <input id="image-form" type="hidden" name="csrf_token" value="{{csrf_token()}}" />
            <input class="d-block" name="image" type="file" id="post-img">
            <label for="password" class="col-form-label">Caption</label>
            
            <input name="caption" type="text" class="form-control" id="caption" />



          </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button class="btn btn-primary" type="submit, button">
          Upload Post
        </button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endmacro %}