{% extends '_layout.html' %}

{% block header %}
<script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>
{% endblock %}

{% block content%}
<main>
    <form action="{{url_for('donations.create', image_id=image_id)}}" method="post"></form>
    <input type="hidden" name='csrf' value="{{csrf_token()}}">
    <input type='hidden' id='payment_nonce' value=''>
    <div id="dropin-container"></div>
    <label for="amount">Amount:</label>
    <input type="number" name='amount'>
    <button id="dono-button">Request payment method</button>
</main>

<script>
    const button = document.querySelector('#dono-button');

    braintree.dropin.create({
        authorization: 'CLIENT_TOKEN_FROM_SERVER',
        container: '#dropin-container'
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (err, payload) {
                // Submit payload.nonce to your server
            });
        });
    });


</script>
{% endblock %}