body {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
  padding-top: 3.5em;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

#innerBody{
  width: 100vw;
  box-sizing: border-box;
  padding: 2em;
}

h4{
  font-family: 'Share Tech Mono', monospace;
}

.pictures{
  margin-left: 1em;
  margin-right: 1em;
  
}
.pictures:hover{
  border: 2px solid blue;
  border-radius: 10px;
  cursor: pointer;
}

.follows{
  font-size: large;
  font-weight: bold;
}

.follow-btn{
  text-decoration:none;
  font-size: large;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.follow-btn:hover{
  text-decoration: none;
  background-color: lightgray;
  border: 2px solid gray;
}

.caption{
  margin-top: 2em;
}

.card{
  margin-bottom: 2em;
}

.navbar{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 3.5em;
}