html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Billabong";
  font-style: normal;
  font-weight: normal;
  src: local("Billabong"), url("fonts/Billabong.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

#main-title {
  font-family: "Billabong", cursive;
}

::-webkit-input-placeholder {
  color: lightgrey;
  font-size: 13px;
}
::-moz-placeholder {
  color: lightgrey;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: lightgrey;
  font-size: 13px;
}
::placeholder {
  color: lightgrey;
  font-size: 13px;
}

#news-feed-profile-card {
  line-height: 0.25rem;
}
