body {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}