<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "home_js" %}
    <script src="https://kit.fontawesome.com/1816c993a6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>Monopoly!</title>
</head>

<body id='mon-body'>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
        <div class="alert alert-{{category}}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div id='mon-alert' class="alert alert-warning fade" role="alert">
        If you see this, it's broken. Please contact Shen.
        <button type="button" class="close" id='alert-btn' aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="fluid-container">
        <div class="row">
            <div id='mon-nav' class="col-.5 align-items-center">
                <!-- dropdown for payments, etc. -->
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-dollar-sign"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" type='button' data-toggle="modal" data-target="#payModal">Pay
                            Player/Bank </a>
                        <a data-target='#houseModal' data-toggle='modal' type='button' class="dropdown-item"> Buy
                            houses/hotels</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Hentai Here</a>
                    </div>
                </div>

                <!-- Button to open property modal -->
                <div>
                    <button data-toggle="modal" data-target="#property-modal" id='prop-button' class="btn btn-dark"><i
                            class="fas fa-home"></i>
                    </button>
                </div>

            </div>
            <div class="col-1 mon-col">
                <section class="mon-section non-prop">
                    Free parking
                </section>

                <section id='14' class="mon-section mon-orange prop">
                    Vine Street
                </section>
                <section id='13' class="mon-section mon-orange prop">
                    Marlborough Street
                </section>
                <section class="mon-section non-prop">
                    Community Chest 2
                </section>
                <section id='12' class="mon-section mon-orange prop">
                    Bow Street
                </section>
                <section id='11' class="mon-section prop">
                    Marylebone Station
                </section>
                <section id='10' class="mon-section mon-pink prop">
                    Northumber Land Ave.
                </section>
                <section id='9' class="mon-section mon-pink prop">
                    Whitehall
                </section>
                <section id='8' class="mon-section prop">
                    Electric Company
                </section>
                <section id='7' class="mon-section mon-pink prop">
                    Pall Mall
                </section>
                <section id='jail' class="mon-section non-prop">
                    Jail
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='15' class="mon-red mon-section prop">
                    Strand
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section id='position-container' class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section id='6' class="mon-section mon-light-blue prop">
                    Pentonville Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section non-prop">
                    Chance 2
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section id='5' class="mon-section mon-light-blue prop">
                    Euston Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='16' class="mon-red prop mon-section">
                    Fleet Street
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section non-prop">
                    Chance
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='17' class="prop mon-red mon-section">
                    Trafalgar Square
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">
                    <div id='ownership-div'>
                        somethin here
                    </div>

                </section>
                <section class="mon-blank mon-section">
                    <!-- {% if (current_property) and (not current_property.is_owned) %}
                    <button>Purchase!</button>
                    {% endif %} -->
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">
                    {% if current_user.jailed > -1 %}
                    <a href="{{url_for('monopoly.jail_pay')}}"><button type="button" class="btn btn-outline-warning">Pay
                            $50</button></a>
                    {% endif %}
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section id='4' class="mon-section mon-light-blue prop">
                    The Angel Islington
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='18' class="mon-section prop">
                    Fenchurch St. Station
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">
                    {% if current_user.jailed > -1 %}
                    <button id='jail-roll' type="button" class="btn btn-outline-danger">Jail Roll</button>
                    {% else %}
                    <button type="button" id='dice-btn' class="btn btn-outline-secondary">Roll Dice.</button>
                    {% endif %}

                </section>
                <section class="mon-blank mon-section">
                    <!-- <button type="button" class="btn btn-success">random button for now</button> -->
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section id='3' class="mon-section prop">
                    King's Cross Station
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='19' class="mon-section mon-yellow prop">
                    Leicester Square
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section non-prop">
                    Income tax. (10% or $200)
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='20' class="mon-section mon-yellow prop">
                    Coventry Street
                </section>
                <section class="mon-blank mon-section">
                    <br>
                    <p class='activity-box'>
                        Activity Log:
                    </p>
                    <hr>
                </section>
                <section id='activity-container' class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section id='2' class="mon-section mon-brown prop">
                    Whitechapel Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='21' class="mon-section prop">
                    Water Works
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section non-prop">
                    Community Chest
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='22' class="mon-section mon-yellow prop">
                    Piccadilly
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section id='1' class="mon-section mon-brown prop">
                    Old Kent Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section non-prop">
                    Go to Jail!!!
                </section>
                <section id='23' class="mon-section mon-green prop">
                    Regent Street
                </section>
                <section id='24' class="mon-section mon-green prop">
                    Oxford Street
                </section>
                <section class="mon-section non-prop">
                    Community Chest 3
                </section>
                <section id='25' class="mon-section mon-green prop">
                    Bond Street
                </section>
                <section id='26' class="mon-section prop">
                    Liverpool Station
                </section>
                <section class="mon-section non-prop">
                    Chance 3
                </section>
                <section id='27' class="mon-section mon-blue prop">
                    Park Lane
                </section>
                <section class="mon-section non-prop">
                    Supertax. ($100)
                </section>
                <section id='28' class="mon-section mon-blue prop">
                    Mayfair
                </section>
                <section class="mon-section non-prop">
                    Go <br>
                    <-- </section>
            </div>
        </div>
    </div>
    <!-- Payment modal -->
    <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="payModalLabel">Funds Transfer.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id='money-in-modal'></div>
                    <form id='pay-form'>
                        <input type="hidden" name="csrf_token" value='{{csrf_token()}}'>
                        <br>
                        <!-- Recipient selector -->
                        <input type="hidden" name="recipient" id="recipient" value="">
                        <div class="form-group">
                            <label for="recipientSelect">Select recipient!</label>
                            <select class="form-control" id="recipientSelect">
                                <option value=""></option>
                                <option>Banker</option>
                                {% for user in users %}
                                {% if user.id != current_user.id %}
                                <option>{{user.username}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <p id='user-select-cap'></p>
                        </div>
                        <br>
                        <label for="amount-input">Amount:</label>
                        <input type="text" name="amount" id="amount-input">
                        <p id='amount-caption'></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="button" id='confirm-btn' class="btn btn-primary" data-toggle='tooltip' title=''
                        disabled>Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- image modal -->
    {% for prop in properties  %}
    <div class="modal fade" id="{{prop.id}}ImageModal" tabindex="-1" role="dialog"
        aria-labelledby="{{prop.id}}ImageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{prop.id}}ImageModalLabel">{{prop.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-bodyd d-flex justify-content-center">
                    <img src="{{prop.image_url}}" width="300px" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Okies</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Property modal -->
    <div id='property-modal' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div id='prop-modal-content' class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Owned Props</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" id='prop-row'>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Donezo</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modals -->

    <hr>
    <summary id='current-user'>
        <div id='current-username'>
            {{current_user.username}}
        </div>
    </summary>
    {% if (current_user.username == 'Banker') or (current_user.username == 'shennex') %}
    <a href="{{url_for('monopoly.reset')}}">RESET!</a>
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>


    <script type="text/javascript" charset="utf-8">
        const socket = io();
        $(() => {
            const currentUsername = $('#current-username').text()
            if (socket.connected) {
                socket.emit('connect')
            }
            alertBox = $('#mon-alert')
            hideAlert = () => {
                alertBox.removeClass('show')
            }
            showAlert = (t) => {
                alertBox.addClass('show')
                setTimeout(hideAlert, t)
            }
            // close btn for alert
            $('#alert-btn').click(() => {
                hideAlert()
            })

            socket.on('message', (message) => {
                if (message == 'broke') {
                    $('#mon-alert').text('Lmao, you too broke for that shit.')
                    showAlert(5000)
                }
            })

            socket.on('activity_update', (data) => {
                const activityContainer = $('#activity-container')
                activityContainer.html('')
                data = JSON.parse(data)
                data.activities.forEach((item) => {
                    activityContainer.append(`<div class='activity-box'>
                        ${item}
                    </div>
                    <br>
                `)
                })
            })

            socket.on('position_update', (data) => {
                const positionContainer = $('#position-container')
                positionContainer.html('')
                data.forEach((item) => {
                    positionContainer.append(`
                    <div class='user-location'>
                        ${item}
                        <hr>
                    </div>
                    `)
                })
            })
            socket.on('money_update', (data) => {
                moneyDiv = $('#money-in-modal')
                moneyDiv.html(` Your Money: $${data}`)
            })
            positions = ($('summary'))
            reloadPage = () => {
                location.reload()
            }
            dieRoll = () => {
                return Math.floor((Math.random() * 6) + 1)
            }

            // submits dice rolls to change position
            function submitRoll(r1, r2, jr = 0) {
                rollData = JSON.stringify({ 'roll1': r1, 'roll2': r2, 'jail roll': jr })
                socket.emit('roll', rollData)
            }
            //normal dice roll
            $('#dice-btn').click(() => {
                let roll1 = dieRoll()
                let roll2 = dieRoll()
                alert('Your roll is:\n' + roll1 + '+' + roll2)
                submitRoll(roll1, roll2)
            })
            //jailed dice roll
            $('#jail-roll').click(() => {
                let jailRoll0 = dieRoll()
                let jailRoll1 = dieRoll()
                if (jailRoll0 == jailRoll1) {
                    alert(`your roll was ${jailRoll0} + ${jailRoll1}\n Congrats! you're free from jail!`)
                }
                else {
                    alert(`your roll was ${jailRoll0} + ${jailRoll1}`)
                }
                submitRoll(jailRoll0, jailRoll1, 1)
            })

            const confirmBtn = $('#confirm-btn')
            let recipientValid, amountValid;
            $('select').click((e) => {
                $('#recipient').val(e.target.value)
                if (e.target.value != '') {
                    recipientValid = true
                }
                else {
                    recipientValid = false
                }
                updateBtn()
            })

            $('#amount-input').keyup((e) => {
                let re = /^[0-9]+$/
                if ((re.test(e.target.value)) && (e.target.value > 0)) {
                    amountValid = true
                }
                else {
                    amountValid = false
                }
                updateBtn()
            })
            updateBtn = () => {
                if (!recipientValid) {
                    $('#user-select-cap').text('Please select someone :)')
                } else {
                    $('#user-select-cap').text('')
                }
                if (!amountValid) {
                    $('#amount-caption').text('Only non-zero positive integers are acceptable!')
                } else {
                    $('#amount-caption').text('')
                }

                if (recipientValid && amountValid) {
                    confirmBtn.removeAttr('disabled')
                }
                else {
                    confirmBtn.attr('disabled', true)
                }
            }

            // sends pay information via socket
            confirmBtn.click(() => {
                payInfo = JSON.stringify({ 'amount': $('#amount-input').val(), 'recipient': $('#recipientSelect').val() })
                socket.emit('pay', payInfo)
                $('#payModal').modal("hide")
            })

            let monProperties = $('.prop')
            monProperties.click((e) => {
                let id = e.target.id
                $(`#${id}ImageModal`).modal('show')
            })

            const propButton = $('#prop-button')
            propButton.click(() => {
                socket.emit('prop_request')
            })


            socket.on('prop_response', (data) => {
                propData = JSON.parse(data)
                propRow = $('#prop-row')
                propRow.html('')
                propData.forEach((x, i) => {
                    propRow.append(`
                    <div class="col-md-6">
                        <img width='100%' src="${x.image_url}" alt="${i} prop">
                        <br>
                        Number of houses: ${x.houses}
                        <div id='${x.name}' class = '${x.house_price} prop-btn-container'>
                            <button type="button" class=" transfer-btn btn btn-warning">Transfer Ownership</button>
                        </div> 
                    </div>
                    `)
                })
                if ($('.prop-btn-container').not('.0')) {
                    $('.prop-btn-container').prepend(
                        '<button type="button" class="house-btn btn btn-success">Buy house/hotel</button>'
                    )
                }
            })
            $('#prop-row').on('click', '.house-btn', (e) => {
                propName = e.target.parentElement.id
                if (confirm(`Confirm house purchase for ${propName}?`)) {
                    socket.emit('house_buy', propName)
                    console.log('in if')
                }
            })
            $('#prop-row').on('click', '.transfer-btn', (e) => {
                console.log('wanek')
                socket.emit('tester')
            })
        })
    </script>
</body>

</html>