<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "home_js" %}
    <script src="https://kit.fontawesome.com/1816c993a6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <title>Monopoly!</title>
</head>

<body id='mon-body'>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
        <div class="alert alert-{{category}}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="fluid-container">
        <div class="row">
            <div class="col-1 mon-col">
                <section class="mon-section">
                    Free parking
                </section>

                <section class="mon-section">
                    Vine Street
                </section>
                <section class="mon-section">
                    Marlborough Street
                </section>
                <section class="mon-section">
                    Community Chest
                </section>
                <section class="mon-section">
                    Bow Street
                </section>
                <section class="mon-section">
                    Marylebone Station
                </section>
                <section class="mon-section">
                    Northumber Land Ave.
                </section>
                <section class="mon-section">
                    Whitehall
                </section>
                <section class="mon-section">
                    Electric Company
                </section>
                <section class="mon-section">
                    Pall Mall
                </section>
                <section id='jail' class="mon-section">
                    Jail
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='strand' class="mon-red mon-section">
                    Strand
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">
                    {% for user_pos in user_positions %}
                    <div class='user-location'>
                        {{user_pos}}
                    </div>
                    {% endfor %}
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    Pentonville Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section">
                    Chance
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    Euston Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='fleet' class="mon-red mon-section">
                    Fleet Street
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    Chance
                </section>
            </div>

            <div class="col-1 mon-col">
                <section id='trafalgar' class="mon-red mon-section">
                    Trafalgar Square
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    The Angel Islington
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section">
                    Fenchurch St. Station
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">
                    {% if current_user.jailed > -1 %}
                    <button id='jail-roll' type="button" class="btn btn-outline-warning">Jail Roll</button>
                    {% else %}
                    <button type="button" id='dice-btn' class="btn btn-outline-secondary">Roll Dice.</button>
                    {% endif %}

                </section>
                <section class="mon-blank mon-section">
                    {% if current_user.jailed > -1 %}
                    <a href="{{url_for('monopoly.jail_free')}}"><button type="button"
                            class="btn btn-success">Freedom</button></a>
                    {% endif %}
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    King's Cross Station
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section">
                    Leicester Square
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    Income tax. (10% or $200)
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section">
                    Coventry Street
                </section>
                <section class="mon-blank mon-section">
                    <br>
                    <p class='activity-box'>
                        Activity Log:
                    </p>
                    <hr>
                </section>
                <section class="mon-blank mon-section">
                    {% for activity in activities %}
                    <div class='activity-box'>
                        {{activity.text}}
                    </div>
                    <br>
                    {% endfor %}
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    Whitechapel Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section">
                    Water Works
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">
                    <!-- dropdown for payments, etc. -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dollar-sign"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" type='button' data-toggle="modal" data-target="#payModal">Pay
                                Player/Bank </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Hentai Here</a>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="payModalLabel">Funds Transfer.</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Your Money: ${{current_user.money}}
                                    <form action="{{url_for('monopoly.pay')}}" method="post">
                                        <input type="hidden" value='{{csrf_token()}}'>
                                        <br>
                                        <input type="hidden" name="recipient" id="recipient">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Select recipient!</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                {% for user in users %}
                                                {% if user.id != current_user.id %}
                                                <option>{{user.username}}</option>
                                                {% endif %}
                                                {% endfor %}
                                                <option>Banker</option>
                                            </select>
                                        </div>
                                        <br>
                                        <input type="hidden" name="payer" value={{current_user.username}}>
                                        <label for="amount-input">Amount:</label>
                                        <input type="text" name="amount" id="amount-input">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    Community Chest
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section">
                    Picadilly
                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-blank mon-section">

                </section>
                <section class="mon-section">
                    Old Kent Road
                </section>
            </div>

            <div class="col-1 mon-col">
                <section class="mon-section">
                    Go to Jail!!!
                </section>
                <section class="mon-section">
                    Regent Street
                </section>
                <section class="mon-section">
                    Oxford Street
                </section>
                <section class="mon-section">
                    Community Chest
                </section>
                <section class="mon-section">
                    Bond Street
                </section>
                <section class="mon-section">
                    Liverpool Station
                </section>
                <section class="mon-section">
                    Chance
                </section>
                <section class="mon-section">
                    Park Lane
                </section>
                <section class="mon-section">
                    Supertax. ($100)
                </section>
                <section class="mon-section">
                    Mayfair
                </section>
                <section class="mon-section">
                    Go -->
                </section>
            </div>
        </div>
    </div>
    <hr>
    <summary id='current_user'>

        <p id='jail-status'>
            {{current_user.jailed}}
        </p>

        <br>
        {% if current_user.jailed >-1 %}
        <a href="{{url_for('monopoly.jail_add')}}">+1</a>
        {% endif %}

    </summary>

    <form id='roll-form' action="{{url_for('monopoly.roll')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="roll-1" id="roll-input-1">
        <input type="hidden" name='roll-0' id=roll-input-0>
        <input type="hidden" name="username" id="roll-username" value='{{current_user.username}}'>
    </form>

    <a href="{{url_for('monopoly.reset')}}">RESET!</a>
    <script>

        $(document).ready(() => {
            positions = ($('summary'))
            reloadPage = () => {
                location.reload()
            }
            dieRoll = () => {
                return Math.floor((Math.random() * 6) + 1)
            }

            // submits dice rolls to change position
            function submitRoll(r1, r2) {
                $('#roll-input-0').attr('value', r1)
                $('#roll-input-1').attr('value', r2)
                $('#roll-form').submit()
            }
            //normal dice roll
            $('#dice-btn').click(() => {
                let roll1 = dieRoll()
                let roll2 = dieRoll()
                // alert('Your roll is:\n' + roll1 + '+' + roll2)
                submitRoll(roll1, roll2)
            })
            //jailed dice roll
            $('#jail-roll').click(() => {
                let jailRoll0 = dieRoll()
                let jailRoll1 = dieRoll()
                alert(`your roll was ${jailRoll0} + ${jailRoll1}`)
                if (jailRoll0 == jailRoll1) {
                    submitRoll(jailRoll0, jailRoll1)
                }
                // else if (){

                // }
                console.log($('#jail-status'))
            })
            $('option').click((e) => {
                console.log(e.target.value)
            })

            // setInterval(reloadPage, 5000)

        })
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>