{% extends "_layout.html" %}

{% block title %}
  Upload Profile Photo
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<h1 class="text-center">Review follow requests</h1>
{% if followers|length ==0%}
<br/>
<h5 class="text-center">There are no follow requests yet.</h5>
{% endif %}

{% for follower in followers %}
<div class="container d-flex my-5" style="width: 50%;">
  <div class="container d-flex flex-column align-items-center" >
    <img src="{{follower.full_profile_photo}}" alt="follower.full_profile_photo" style="width:200px; border-radius:100px">
    <a href="{{url_for('users.show', username=follower.name)}}">{{follower.name}}</a>
  </div>
  <div class="container d-flex align-items-center" >
    <a href="{{url_for('followers.update',acc_id=current_user.id, follower_id=follower.id, accept=1) }}" 
      class="btn btn-outline-success" 
      style="padding: 15px; margin:10px">
      Accept
    </a>
    <a href="{{url_for('followers.update',acc_id=current_user.id, follower_id=follower.id, accept=0)  }}" 
      class="btn btn-outline-secondary" 
      style="padding: 15px; margin:10px">
      Reject
    </a>
  </div>
</div>

{% endfor %}

{% endblock %}