{% extends "_layout.html" %}

{% block title %}
  Payment Confirmation Page
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="d-flex row">
    <div class="col-4 d-flex flex-column align-items-center justify-content-around" style="height: 70vh;">
        <h1>You are donating to</h1>
        <h3>{{owner}}</h3>
        <img src="{{S3_LOCATION+image.user.profile_photo}}" style="height: 100px; border-radius: 50px;" alt="">
        <br/>
        <img src="{{S3_LOCATION+image.url}}" style="height: 300px;" alt="{{image.url}}">
        <p>#{{image.id}}</p>
    </div>
    <br/>
    <div class="col-8">
        <form action="{{url_for('images.braintree_payment',id=image.id)}}" method="POST" class="form-control" style="width: 50%;" >
            <h3>Donation amount</h3>
            <hr/>
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <div class="form-group">
                <label for="name">Amount (USD):</label>
                <input type="number" name="donation_amt" min="1" class="form-control" placeholder="20"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="**********"/>
                <small>Please provide your password to continue.</small>
            </div>
            <button class="btn btn-danger" >Submit</button>
        </form>
    
    </div>

</div>
{% endblock %}