{% extends "_layout.html" %}

{% block title %}
  Payment
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="mx-auto" style="width: 30vw; min-width: 400px;">

    <form id="payment-form" action="{{url_for('images.make_payment')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />

        <div id="dropin-container"></div>
        <input class="btn btn-primary" type="submit" value="Pay Now"/>
        <input type="hidden" id="nonce" name="nonce"/>
    </form>

    <script type="text/javascript">
        const form = document.getElementById('payment-form')
        braintree.dropin.create({
            authorization: "{{token}}",
            container: '#dropin-container',
        },(error,dropinInstance)=>{
            if(error) console.error(error)

            form.onsubmit('submit', event=>{
                event.preventDefault()

                dropinInstance.requestPaymentMethod((error,payload)=>{
                    if(error) console.error(error)
                    // Step four: when the user is ready to complete their
                    //   transaction, use the dropinInstance to get a payment
                    //   method nonce for the user's selected payment method, then add
                    //   it a the hidden field before submitting the complete form to
                    //   a server-side integration
                    document.getElementById('nonce').value = payload.nonce;
                    form.submit();
                })
            })
        })
    </script>
</div>

{% endblock %}