{% extends "_layout.html" %}
{% block title %}
  User Personal Page
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<h1>This is {{user.username}} profile file</h1>
<h2>email : {{user.email}}</h2>
<img src="{{user.profile_image_url}}" alt="" height="100px" width="100px"><br>

<form action="{{url_for('follow', username=user.username)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input class="btn btn-primary" type="submit" value="Follow"/>
</form>
<span>Follower Count:</span>

<h2>~~The Post~~</h2>
{% for i in user.post%}
<img src="{{i.post_image_url}}" alt="" height="200px" width="200px">
<form action="{{url_for('donate')}}" method="GET">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="submit" value="donate" class="btn btn-secondary">
</form>
{% endfor %}
{% endblock %}